name: create Jupyter Notebook Action  
on:
  workflow_dispatch:  

jobs:  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout code  
        uses: actions/checkout@v2  
      - name: Set up Python  
        uses: actions/setup-python@v2  
        with:  
          python-version: 3.8  
      - name: Install dependencies  
        run: |  
          python -m pip install --upgrade pip  
          pip install jupyter
          pip install --upgrade mplfinance
          pip install -r requirements.txt
          pip install pandas openpyxl nbformat nbconvert papermill
      - name: Run Jupyter Notebook  
        run: |  
          python NT/untitled.py  
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "create NT" || echo "No changes to commit"
          git push origin || echo "No changes to commit"

  
