name: Jupyter Notebook Action  
on:
  workflow_dispatch:  

jobs:  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout code  
        uses: actions/checkout@v2  
      - name: Set up Python  
        uses: actions/setup-python@v2  
        with:  
          python-version: 3.8  
      - name: Install dependencies  
        run: |  
          python -m pip install --upgrade pip  
          pip install jupyter
          pip install -r requirements.txt
      - name: Run Jupyter Notebook  
        run: |  
          #jupyter nbconvert --to notebook --execute "NT/ATR_A2A.ipynb" 
          #jupyter nbconvert --to notebook --execute NT/ATR_CPR.ipynb  
          jupyter nbconvert --execute NT/ATR_CPR.ipynb --inplace 
          jupyter nbconvert --execute NT/ATR_IP.ipynb --inplace 
          jupyter nbconvert --execute NT/ATR_IG.ipynb --inplace 
          jupyter nbconvert --execute NT/ATR_MONC.ipynb --inplace
          jupyter nbconvert --execute NT/ATR_NEXI.ipynb --inplace
      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "Update NT" || echo "No changes to commit"
          git push origin || echo "No changes to commit"
